# Project exclude paths
/aop/target/
/ioc/target/
/tx/target/
.idea/.gitignore
.idea/codeStyles/
.idea/compiler.xml
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/vcs.xml
spring-source.iml
.idea/
aop/aop.iml
ioc/ioc.iml
mvc/mvc.iml
mvc/target/
tx/tx.iml
